In [56]:
# Fonte dos dados:
# https://www.ibge.gov.br/
# https://www.ibge.gov.br/estatisticas/sociais/populacao/19897-sintese-de-indicadores-pnad2.html?=&t=microdados

In [57]:
# Bibliotecas
import os
import pandas as pd

In [58]:
# Variáveis de Ambiente
current_dir = os.getcwd()
file_path = os.path.join(current_dir, 'dados','dados.csv')
base = pd.read_csv(file_path)

In [59]:
# Primeiras 5 linhas
base.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [60]:
# Variáveis Qualitativas Ordinais 
sorted(base['Anos de Estudo'].unique())

[np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17)]

In [61]:
# Variáveis Qualitativas Nominais
sorted(base['UF'].unique())

[np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(28),
 np.int64(29),
 np.int64(31),
 np.int64(32),
 np.int64(33),
 np.int64(35),
 np.int64(41),
 np.int64(42),
 np.int64(43),
 np.int64(50),
 np.int64(51),
 np.int64(52),
 np.int64(53)]

In [62]:
# Variáveis Quantitativas Discretas
print("Campo 'idade' de %s até %s anos" % (base['Idade'].min(), base['Idade'].max()))

Campo 'idade' de 13 até 99 anos

In [63]:
# Variáveis Quantitativas Contínuas
print("Campo 'Altura' de %s até %s metros" % (base['Altura'].min(), base['Altura'].max()))

Campo 'Altura' de 1.339244614 até 2.028496765 metros

In [64]:
# Distribuição de Frequências
base['Sexo'].value_counts()

Sexo
0    53250
1    23590
Name: count, dtype: int64